<!DOCTYPE html>
<html ng-app="parseQ">
<head>
	<title>ParseQ</title>
	<link rel="stylesheet" href="main.css">
</head>

<body ng-controller="mainController">

<header>
Get Help:
<input type="text" placeholder="How can I help you?" ng-model="studentQuestion"> <!-- This question is defined scope in the controller--> 
<button ng-click="postQuestion()">Submit Your Question</button>

</header>

<!-- Waiting for Help Box -->
<div class="q-container help">

<div>	
	<h4>Waiting for Help</h4>
</div>
<div ng-repeat="question in questions | filter: question.status='red'">
{{question.content}} <button ng-click="changeStatus(question)">Assist</button>
</div>
</div>


<!-- Getting Helped Box -->
<div class="q-container assisting">
<div>
	<h4>Getting Helped</h4>
</div>

<p ng-repeat="question in questions |filter: question.status='yellow'">
{{question.content}} <button ng-click="deleteQuestion(question)">Done Helping</button>
</p>
</div>


<!-- sources -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/mainController.js"></script>
<script src="js/parseService.js"></script>
<script src="js/defaultHeaders.js"></script>
</body>
</html>